:root {
    --accent-color: #2196F3;
    --mbutton-hover: #188CE8;
    --logo-color: #000000;
    --logo-footer: #FFFFFF;
    --primary-txt-color: #212121;
    --secondary-txt-color: #757575;
    --white-color: #FFFFFF;
    --grey-bg-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --footer-rgba-color: rgba(255, 255, 255, 0.6);

} 

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-txt-color);
    background-color: var(--white-color);

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}

ul, ol {
    list-style: none;
    
    margin-left: 0;
    margin-right: 0;
  
    padding-left: 0;
    
}

a {
    text-decoration: none;
    font-style: normal;
}

a:visited {
    color: inherit;
}

button {
    border: 0;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.page-header-flex {
    display: flex;
    align-items: center;
    height: 80px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contacts-menu {
    display: flex;
    align-items: center;

    margin-left: auto;
    
}

.mail {
    margin-right: 50px;
}




.logo {
    color: var(--logo-color);
}

.logo-header {
    margin-right: 93px;
    
}

.logo-accent {
    color: var(--accent-color);
}



.logo-footer {
    color:  var(--logo-footer);
}

.logo-footer:visited {
    color: var(--logo-footer)
}

.logo-header, .logo-accent, .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        
}

.nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-txt-color);
    

}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.contacts-link {
    letter-spacing: 0.02em;

    color: var(--secondary-txt-color);

    
}

.hero {
        background-color: var(--secondary-bg-color);

        height: 600px;

        padding-top: 200px;
        padding-bottom: 200px;
        

        

        
}



.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--white-color);

        margin-bottom: 30px;

       
       
       
      
      
}

.main-button {
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;

        color: var(--white-color);
        background-color: var(--accent-color);

        display: block;

        margin-left: auto;
        margin-right: auto;

        

        

        
}

.main-button:hover,
.main-button:focus {
    background-color: var(--mbutton-hover);
    
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.peculiarities-title {
        
        font-size: inherit;
        line-height: 1.14;
        text-transform: uppercase;

        color: var(--primary-txt-color);
}




.peculiarities-text {
        line-height: 1.7;
        
        color: var(--secondary-txt-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}




.team {
    background-color: var(--grey-bg-color);
}

.team li {
    background-color: var(--white-color);
}

.member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
       
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
    color: var(--secondary-txt-color);
}




footer {
    background-color: var(--secondary-bg-color);
    
}

address .address-link {
    font-style: normal;
    font-weight: 400;
     line-height: 1.71;
    
     color: var(--white-color);

}





address .contacts-link.rgba {
    color: var(--footer-rgba-color);
}

address .contacts-link.rgba:hover,
address .contacts-link.rgba:focus {
    color: var(--accent-color);
}


/* Оформление portfolio.html */

.filter-buttons button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--primary-txt-color);
    background-color: var(--grey-bg-color);
    
}

.button.current {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.filter-buttons button:hover,
.filter-buttons button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    
    cursor: pointer;
}

.card-title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
        
        color: var(--primary-txt-color);

        
}

.card-text {
       
        font-size: 16px;
        line-height: 1.87;
        
        color: var(--secondary-txt-color);
}